html, body {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  min-width: 280px;
}

.a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(255, 255, 255); 
}

.a:hover {
  color: rgb(78, 78, 201);
  border-color: rgb(78, 78, 201, 0.3);
}

a {
  transition: 0.4s ease-out;
}

* {
  box-sizing: border-box;
}
/*.............................................................

GRID

...............................................................*/
.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;

}

.row {

}

.row:after {
  clear: both;
  content: "";
  display: table;
}

.col-4 {
  width: 360px;
  margin-right: 30px;
  float: left;
}

.col-4:last-child {
margin-right: 0px;
}
/*...........................................................

HEADER

............................................................*/

.header {
  background: #9ca864;
  background-image: url(../image/BG/bckground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 400px; 
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

}
.header_title{
  font-size: 65px;
  margin-bottom: 30px;
  font-family: 'Merriweather', serif;
  margin-top: -50px;
}
.header_slogan{
  font-size: 28px;
  line-height: 42px;
}

.header_arrow{
  font-size: 48px;
  color: rgb(0, 0, 0);
  width: 60px;
  height: 50px;
  margin-left: -30px;
  position: absolute;
  bottom: 50px;
  left: 50%;
}

/*.............................................................

PORTFOLIO

...............................................................*/

.portfolio {
  padding-top: 70px;
  padding-bottom: 100px;
}
.portfolio-item {
  margin-bottom: 20px;
}
.title {
  font-size: 46px;
  margin-bottom: 60px;
  font-family: 'Merriweather', serif;
  text-align: center;
}

.portfolio-item__img {
  margin-bottom: 17px;
  align-content: center;
}

.portfolio-item__img img {
  max-width: 100%;
  height: auto;
}


.portfolio-item__title {
  font-size: 24px;
  line-height: normal;
  margin-bottom: 5px;
  text-align: center;
}

/*.............................................................

FOOTER

...............................................................*/
.footer {
  background-color: #9ca864;
  color: rgb(78, 78, 201);
  padding-top: 90px;
  padding-bottom: 190px;
}

.footer p {
  margin-top: 0px;
  margin-bottom: 15px;
}
p.footer__name {
  font-size: 28px;
  margin-bottom: 10px;
  line-height: normal;
  font-family: 'Merriweather', serif;
}

p.footer__social-icons a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  transition: 0.4s ease-out

}
p.footer__social-icons a:last-child {
  margin-right: 0px;
}

p.footer__social-icons a:hover {
  color: rgb(39, 72, 145);
}

.button {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.6px;

  display: inline-block;
  border-width: 2px;
  border-color: #fff;
  border-style: solid;
  border-radius: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 23px;
  padding-right: 23px;

  margin-bottom: 13px;

  transition: 0.4s ease-out
}
.button:hover {
  color: rgb(39, 72, 145);
background-color: #fff;
}


/*....................................................

media

......................................................*/

@media (max-width: 1160px) {

  .container {
    width: 100%;
  }
  .col-4 {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }

  .header {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header_title {
    font-size: 38px;
    line-height: 48px;
    margin-bottom: 15px;
  
  }

  .header_slogan {
    font-size: 22px;
    line-height: 38px;    
  }

  .portfolio {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .title {
    font-size: 36px;
  }

  .footer {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}